@font-face {
    font-family: 'Raleway-Regular';
    src: url(Raleway-Regular.ttf);
}

.BodyMain {
    max-width: 95%;
    margin: auto;
  }


/* HEADER */

header {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav ul li {
    margin-right: 30px;
}

.HeaderNavLink {
    color: #0065FC;
}

.HeaderSignUpLink {
    color: #0065FC;
}


/* SEARCH */

.Search {
    display: flex;
    flex-direction: column;
  }

.SearchHeader p {
    color: gray;
}

.SearchForm {
    display: flex;
}

.SearchForm input {
    border: none;
    font-weight: bold;
    font-size: 1.1em;
    padding-left: 1rem;
}

.SearchFormIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
  }

  .SearchFormButton {
    color: white;
    background-color: #0065fc;
    border: none;
    padding: 1rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: bold;
    font-size: 1.1em;
  }

.SearchFilters {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.SearchFilter {
    margin-left: 1rem;
  }

.SearchFilterList {
    list-style-type: none;
    display: flex;
}

.SearchFilterButton {
    display: flex;
    background-color: white;
    border: 1px solid #F2F2F2;
    border-radius: 30px;
    padding: 1rem;
    font-weight: bold;
    
}

.SearchFilterButtonIcon {
    background-color: #DEEBFF;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    border-radius: 30px;
    padding:1rem;
}

.SearchFilterList li {
    margin-right: 15px;
}

.SearchResult {
    display: flex;
    align-items: center;
    margin: 15px 0 30px 0;
}


/* HOSTING */

#Hosting {
    display: flex;
    justify-content: space-around;
}

.HostingLeft {
    background-color: #F2F2F2;
    width: 60%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.HostingLeft h2 {
    padding-top: 2rem;
    padding-left: 2rem;
}

.HostingLeft a {
    color: black;
    font-weight: bold;
    padding-left: 2rem;
    padding-bottom: 2rem;
  }

.HostingLeftArticles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.HostingLeftArticle {
    background-color: white;
    border-radius: 20px;
    height: 250px;
    max-height: 40%;
    max-width: 30%;
    margin: 0 5px 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.HostingLeftArticleFigure {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}

.HostingLeftArticleFigureImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.HostingLeftArticleContent {
    font-size: 0.8em;
    padding: 0 0 0 0.5rem;
}

.HostingRight {
    background-color: #F2F2F2;
    width: 30%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.HostingRightHeader {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.HostingRightArticles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.HostingRightArticle {
    background-color: white;
    border-radius: 20px;
    max-width: 75%;
    display: flex;
    height: 150px;
}

.HostingRightArticleContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.8em; /* Comment régler le dépassement */
}

.HostingRightArticleFigure {
    height: 100%;
    max-width: 40%;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.HostingRightArticleFigureImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
